* {
    margin: 0;
    padding: 0;
}

.hidden {
    display: none;
}

img {
    max-width: 100%;
}

/* Variable Styles */

:root {
    --primary-color: #FFFFFF;
    --secondary-color: #E6533C;
    --main-bg-color: #000000;
}

/* Shared Styles */
.font-imperial {
    font-family: "Imperial Script", "cursive";
    font-style: normal;
    font-weight: 400;
}

body,
button {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: var(--main-bg-color);
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

.text-center {
    text-align: center;
}

.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}

.section-margin {
    margin: 6.25rem 12rem;
}

.section-info {
    width: 55%;
    margin: 0 auto;
}

.section-title {
    font-size: 3rem;
    font-weight: 900;
}

.section-description {
    margin-top: 0.875rem;
    margin-bottom: 2rem;
    font-size: 0.875rem;
    opacity: .5;
    line-height: 1.6;
}

/* Shared Btn */
.banner-left-btn,
.mobile-btn,
.club-section-btn {
    padding: 1rem 2.5rem;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 2.625rem;
    font-size: 1.125rem;
    font-weight: 600;
}

/* Navbar Styles */
#menu-home {
    font-weight: 600;
    padding: .5rem 1.25rem;
    border-radius: 2rem;
    background-color: var(--secondary-color);
}

.navbar {
    color: var(--primary-color);
    justify-content: space-around;
    align-items: center;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
}

.nav-logo>a {
    font-size: 2.25rem;
    font-weight: 800;
    color: var(--secondary-color);
}

.menu-bar {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.5rem;
    padding: .75rem;
}

.menu-bar ul {
    gap: 3rem;
}

.menu-bar ul li {
    list-style: none;
    font-size: 1.125rem;
    font-weight: 400;
}

/* Navbar Responsive Styles*/
@media screen and (max-width: 576px) {
    .menu-bar {
        display: none;
    }

    .menu-bar-icon {
        display: block;
        font-size: 1.5rem;
    }
}


/* Banner-section */
.banner-section {
    justify-content: space-between;
    align-items: center;
}

.banner-left-content {
    width: 45%;
}

.banner-title {
    font-size: 4.75rem;
    font-weight: 900;
    line-height: 1.2;
    margin-bottom: 1.75rem;
}

.banner-description {
    opacity: 0.5;
    line-height: 1.5;
    margin-bottom: 1.75rem;
}

.banner-btn {
    display: flex;
    gap: 1rem;
}

.banner-right-btn {
    padding: 1rem 2.5rem;
    background-color: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 2.625rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.banner-image {
    position: relative;
}

.banner-image img {
    object-fit: cover;
}

.video-count {
    padding: 1.25rem 1.5rem;
    border-radius: 12px;
    align-items: center;
    gap: .75rem;
    backdrop-filter: blur(14px);
    background: rgba(98, 97, 97, 0.2);
    position: absolute;
    bottom: 80px;
    left: -100px;
}

.workout-video-count {
    padding: 1rem 1.125rem;
    border-radius: 12px;
    align-items: center;
    gap: .75rem;
    backdrop-filter: blur(14px);
    background: rgba(98, 97, 97, 0.2);
    position: absolute;
    top: 150px;
    right: -55px
}

.ellipse {
    height: 2.5rem;
    width: 2.5rem;
    background-color: var(--secondary-color);
    border-radius: 50%;
}

.view-title {
    font-size: 1.5rem;
    font-weight: 900;
    margin-bottom: .125rem;
    letter-spacing: 1px;
}

.view-details {
    opacity: 0.65;
    font-size: 0.813rem;
}

/*Banner Section Responsive for Mobile */
@media screen and (max-width: 576px) {
    .banner-section {
        flex-direction: column;
        align-items: center;
        padding: 1.25rem;
    }

    .banner-left-content {
        width: 100%;

        margin: 3rem 0;
    }

    .video-count {
        bottom: 12.5rem;
        left: 0.625rem;
    }

    .workout-video-count {
        top: 3rem;
        right: 0;
    }

    .banner-title {
        font-size: 2.25rem;
        width: 75%;
    }

    .banner-btn {
        gap: .0.75rem;
    }

    .banner-left-btn {
        display: none;
    }

    .mobile-btn,
    .banner-right-btn {
        display: block;
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    .view-title {
        font-size: 1.5rem;
    }

    .view-details {
        font-size: .625rem;
    }
}

/* Habit Section Styles */
.habit-info {
    margin-top: 3.25rem;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.habit-card {
    width: 230px;
}

.habit-image img {
    border-radius: 50%;
    border: 2px solid #FFFFFF;
}

.card-title {
    font-size: 1.125rem;
    margin-top: 1.5rem;
}

.card-info {
    font-size: 0.875rem;
    opacity: 0.5;
    margin-top: .5rem;
    line-height: 1.4;
}

/* Habit section responsive styles */
@media screen and (max-width:576px) {
    .habit-info {
        grid-template-columns: repeat(1, 1fr);
    }
}

/* Running Club Section Styles */
.running-club {
    gap: 10rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    align-items: center;
    padding: 2rem;
}

.club-left-content {
    width: 70%;
}

.club-right-content {
    width: 90%;
}

.club-right-content>img {
    border-radius: 18px;
}

/* Running Club Section Responsive styles */
@media screen and (max-width:576px) {
    .running-club {
        flex-direction: column;
        gap: 2rem;
        padding: 1.5rem;
    }

    .club-right-content,
    .club-left-content {
        width: 100%;
    }

    .club-left-content {
        display: flex;
        flex-direction: column;
    }
}

/* BMI Section Styles */
.bmi-section {
    margin-bottom: 5.5rem;
}

.bmi-info {
    width: 40%;
    margin: 0 auto;
}

.bmi-content {
    margin-top: 5.5rem;
    background-color: rgb(34, 34, 34);
    padding: 3rem 12rem;
    gap: 11rem;
}

.bmi-list {
    width: 40%;
}

.bmi-list-title {
    font-size: 1.75rem;
    font-weight: 900;
}

.bmi-chart {
    margin-top: 3rem;
}

.bmi-chart-table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-collapse: collapse;
    padding: 0.75rem;
}

th {
    text-align: left;
}

td {

    font-size: 0.875rem;
    opacity: 0.5;
}

.bmi-description {
    font-size: 0.875rem;
    margin-top: 14px;
    opacity: 0.5;
    width: 85%;
    margin-bottom: 2rem;
}

.bmi-form {
    grid-template-columns: auto auto;
    gap: 12px;
}

.form-activity-field {
    grid-column: 1 / span 2;
}
.bmi-form > button{
    width: 80%;
    margin-top: 1rem;
}

.form-activity-field > select {
    width: 100%;
}

.bmi-form input,
select {
    padding: 0.75rem 2.5rem;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    outline: none;
}

.bmi-form ::placeholder, select{
    font-size: 1rem;
    color: var(--primary-color);
    opacity: 0.6;
}














/* Shared Section responsive style */
@media screen and (max-width: 576px) {
    .section-info {
        width: 100%;
    }

    .section-margin {
        margin: 0 1rem;
    }

    .section-title {
        font-size: 2rem;
    }
}