*{
    margin: 0;
    padding: 0;
}

/* Variable Styles */

:root{
    --primary-color: #FFFFFF;
    --secondary-color:#E6533C;
    --main-bg-color:#000000;

}

/* Shared Styles */
.font-lavishly {
    font-family: "Lavishly Yours", "cursive";
    font-style: normal;
  }
  
  body, button {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
  }
  